@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.cf img {float:left;}
.cf div  {float:left;}

img {
   float: left;
   padding: 15px 15px 15px 0;
}

ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ol li {
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 5px;
    margin-top: 10px;
}

.button0 {
    background-color: #008CBA;
    text-transform: uppercase;
    border: none;
    letter-spacing: normal;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 100;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 2px;
}

.button0:hover, .button0:focus, .button0:hover, .button0:focus {
  background-color: #017398;
}

.button1 {
    background-color: #e7e7e7;
    text-transform: uppercase;
    border: none;
    letter-spacing: normal;
    font-family: 'Open Sans', sans-serif;
    color: #242424;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 100;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 2px;
}

.button1:hover, .button1:focus, .button1:hover, .button1:focus {
  background-color: #c7c7c7;
  color: #242424;
}

.button2 {
    background-color: #777777;
    text-transform: uppercase;
    border: none;
    letter-spacing: normal;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 100;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 2px;
}

.button3 {
    background-color: #444444;
    text-transform: uppercase;
    border: none;
    letter-spacing: normal;
    color: white;
    padding: 6px 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 100;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 2px;
}

.button3:hover, .button3:focus, .button3:hover, .button3:focus {
  background-color: #222222;
}

.button4 {
    background-color: #4CAF50;
    text-transform: uppercase;
    border: none;
    letter-spacing: normal;
    color: white;
    padding: 6px 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 100;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 2px;
}

.button4:hover, .button4:focus, .button4:hover, .button4:focus {
  background-color: #3a7935;
}
.thumb {
    width: 100;
    vspace: 5;
    border: 5;
}

.bibliography a {
  border: 0 !important;
}

@media (max-width: 480px) {
  .cf img{
    width: 50%;
  }
}
