

/* tweet stuff */

.user,.tweet,.timePosted,.interact {
  margin-bottom:0;
  margin-right:5px;
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  word-wrap: break-word;      /* IE 5+ */
}
.interact {display:inline;}
.timePosted {
  display:inline-block;
}
.interact {
  margin-left:0px;
  margin-bottom:0px;
  display: inline-block;
}
.interact li {
  display: inline;
  list-style-type:none;
}
.interact a {
  display: inline-block;
  height: 20px;
  width: 20px;
  text-decoration:none;
  border-bottom: 0px;
}
.interact a:hover {
  text-decoration:none;
  border-bottom: 0px;
}

a.twitter_reply_icon {
  background: url(/assets/img/reply.png) no-repeat center center;
}
a.twitter_fav_icon {
  background: url(/assets/img/favorite.png) no-repeat center center;
}
a.twitter_retweet_icon {
  background: url(/assets/img/retweet.png) no-repeat center center;
}
a.twitter_reply_icon:hover {
  background: url(/assets/img/reply_hover.png) no-repeat center center;
}
a.twitter_fav_icon:hover {
  background: url(/assets/img/favorite_hover.png) no-repeat center center;
}
a.twitter_retweet_icon:hover {
  background: url(/assets/img/retweet_hover.png) no-repeat center center;
}

/* bibbase stuff */

#bibbase_header a {
    text-decoration: none;
}

#bibbase_header i {
    width: 16px;
    text-align: center;
    margin-right: 5px;
}

.bibbase_group {
    /* background-color: #D0D0E0; */
    background-color: #E0E0E0;
    font-style: italic;
    font-size: larger;
    text-shadow: 0px 0px 3px #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
    padding: 5px 40px 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.bibbase_group_body {
    margin-left: 20px;
}


img.bibbase_icon {
    width: 20px;
    max-height: 20px;
    vertical-align: text-top;

    filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6+ */
}

img.bibbase_icon:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}



/* span.bibbase_icon_text { */
/*     display: none; */
/* } */

.bibbase_code {
    width: 80%
}

.comment {
    font-size: smaller;
    font-style: italic;
    color: gray;
}

.recommended {
    color: green;
}

/* bootstrap */

.bibbase_msg {
    text-align: center;
    width: 80%;
    margin: auto;
}

#bibbase_embed_modal {
    width: 70%;
    left: 15%;
    margin: 0;
}

.bibbase.well {
    margin: 20px;
    overflow-wrap: break-word;
    background-color: #D7D7D7;
}

.bibbase.well pre {
    background-color: #D7D7D7;
}

.bibbase.link {
    text-decoration: none;
}

.bibbase_paper_content {
    font-size: smaller;
}

#subfooter [class^="icon-"] {
  height:36px;
  line-height:36px;
}

#navigation [class^="icon-"] {
    background-image: url("");
    background-position:0 0px;
    height:inherit;
    line-height:inherit;
    vertical-align: text-center;
}


#bibbase_header li[style*="float"] {
  display:none;
}


#bibbase .dropdown-menu {
    background-color: #D7D7D7;
}

#bibbase .dropdown-menu a:hover {
    background-color: #BEBEBE;
}

#bibbase .dropdown-menu {
    background-color: #D7D7D7;
}

#bibbase .dropdown-menu:hover {
    background-color: #BEBEBE;
}

.bibbase_amazon {
  display:none;
}

.twitter-timeline {
  background-color: #bebebe !important;
}
