---
---

{% assign keyval={{key | replace:':','-'}} %}

<div class="cf">
<img src="/assets/img/{{keyval}}-1.jpg" class="thumb"/>
<img src="/assets/img/{{keyval}}-2.jpg" class="thumb"/>

{{ reference }}

</div>

<div id="{{key}}-materials">

{% if entry.abstract %}
  <button class="button0" onclick="$('#{{keyval}}-abstract').toggle();">abstract</button>
{% endif %}

<a href="/pdfs/{{keyval}}.pdf"><input class="button4" type="button" value="pdf" /></a>

<button class="button1" onclick="$('#{{keyval}}-bibtex').toggle();">bibtex</button>

{% if entry.doi %}
    <a href="{{ entry.doi | prepend: 'http://doi.org/' }}"><input class="button1" type="button" value="publisher" /></a>
{% endif %}

{% if entry.url %}
    <a href="{{ entry.url }}"><input class="button3" type="button" value="website" /></a>
{% endif %}

</div>
<div class="dispinline">
{% if entry.abstract %}
  <p class="likepre" id="{{keyval}}-abstract" style="display: none;">{{ entry.abstract }}</p>
{% endif %}

<p>
<pre id="{{keyval}}-bibtex" style="display: none;"><small>{{ entry.bibtex }}</small></pre>
</p>

<br>
</div>
