---
---
{{ reference }}


{% if key contains "patent" %}

<br>


<div id="{{key}}-materials">

{% if entry.doi %}
    <a href="{{ entry.doi | prepend: 'http://doi.org/' }}"><input class="button1" type="button" value="publisher" /></a>
{% endif %}

{% if entry.url %}
    <a href="{{ entry.url }}"><input class="button3" type="button" value="website" /></a>
{% endif %}

{% assign keyval={{key | replace:':','-'}} %}

<button class="button1" onclick="$('#{{keyval}}-bibtex').toggle();">bibtex</button>

<a href="/pdfs/{{keyval}}.pdf"><input class="button4" type="button" value="pdf" /></a>

{% if entry.howpublished %}
    {% assign number={{entry.howpublished | replace:'US',''}} %}
    {% if number.size == 7 %}
        <a href="http://www.google.com/patents/{{entry.howpublished}}"><input class="button2" type="button" value="Google" /></a>
        <a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&r=1&f=G&l=50&s1={{number}}.PN."><input class="button3" type="button" value="USPTO" /></a>
    {% else %}
        <a href="http://www.google.com/patents/{{entry.howpublished}}"><input class="button2" type="button" value="Google" /></a>
        <a href="http://appft.uspto.gov/netacgi/nph-Parser?Sect2=PTO1&Sect2=HITOFF&d=PG01&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.html&r=1&f=G&l=50&s1={{number}}.PGNR."><input class="button3" type="button" value="USPTO" /></a>
    {% endif %}
{% endif %}

<pre id="{{keyval}}-bibtex" style="display: none;"><small>{{ entry.bibtex }}</small></pre>

</div>


<pre id="{{keyval}}-bibtex" style="display: none;"><small>{{ entry.bibtex }}</small></pre>

{% endif %}
